{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h3 class="mb-4 text-center text-light">Editar {{ tipo|capitalize }}</h3>

  <form method="POST" class="bg-dark p-4 rounded shadow-sm">
    {% for key, value in entry.items() if key != 'id' %}
      <div class="mb-3">
        <label class="form-label text-light">{{ key|capitalize }}</label>
        <input type="text" class="form-control bg-secondary text-light border-0" name="{{ key }}" value="{{ value }}">
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-light">Guardar Cambios</button>
    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
